@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(247, 247, 247);
}

.main {
  padding: 15px;
  font-family: "Open Sans", sans-serif;
}

.main__heading {
  text-align: center;
  font-size: 3.2rem;
  margin: 20px 0 60px 0;
}

.main__errorMessage {
  text-align: center;
  font-size: 18px;
  margin: 100px 0;
  color: red;
}

.loader {
  margin: 100px 0;
}

/* Media Query */

@media all and (max-width: 1024px) {
  html {
    font-size: 7px;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 6px;
  }
}
