/* Table */

.table-div {
  font-size: 1.3rem;
  overflow-x: auto;
  max-width: 100rem;
  margin: 0 auto;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.table {
  margin: 0 auto;
  min-width: 600px;
  width: 100rem;
  max-width: 100rem;
  border-collapse: collapse;
}

.table .tr {
  background: #fff;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid rgb(179, 179, 179);
}

.table .thead .tr {
  background: #7180bf;
  color: #fff;
  font-weight: 400;
  height: 70px;
}

.table .tr .th {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
}

.table .tr .td {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  border-right: 1px solid rgb(179, 179, 179);
}

.table__sortIcon {
  font-size: 16px;
}

.table__pagination {
  min-width: 600px;
  height: 50px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  align-items: center;
}

.table__pagination button {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  outline: none;
  cursor: pointer;
  margin: 3px;
}

.th__resizer {
  display: inline-block;
  background: #fff;
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  touch-action: none;
}

.th__isResizing {
  background: red;
}

.columnDragIcon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 8px;
  background: rgb(179, 179, 179);
  z-index: 9;
}
