/* Table */

.table-div {
  font-size: 1.3rem;
  overflow-x: auto;
}

table {
  margin: 0 auto;
  min-width: 600px;
  width: 100rem;
  border-collapse: collapse;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

table tr {
  background: #fff;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid rgb(179, 179, 179);
}

table thead tr {
  background: #7180bf;
  color: #fff;
  font-weight: 400;
  height: 70px;
}

table tr th {
  padding: 5px;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

table tr td {
  padding: 5px;
  text-align: center;
  border-right: 1px solid rgb(179, 179, 179);
}

.table__th {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__sortIcon {
  font-size: 16px;
}

.table__pagination {
  min-width: 600px;
  width: 100rem;
  height: 50px;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid rgb(179, 179, 179);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.table__pagination button {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  outline: none;
  cursor: pointer;
  margin: 3px;
}
